html { font-family: serif; }
body { color: black; background-color: white; }
h1 { text-align: center; }
table { border: 1px outset grey; margin: 0 auto; width: 50%; }
th, td { border: thin inset grey; }
td.rx, td.tx, td.total { text-align: right; }
thead th.name { background-color: bisque; }
thead th.rx { color: white; background-color: crimson; }
thead th.tx { color: white; background-color: mediumseagreen; }
thead th.total { color: white; background-color: steelblue; }
tbody th { text-align: left; font-weight: normal; }
tbody tr:nth-child(even) { background-color: whitesmoke; }
tfoot th { text-align: left; }
tfoot th, tfoot td { background-color: silver; }
